<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Employee ID</td>
            <td>First Name</td>
            <td>Middle Name</td>
            <td>Last Name</td>
            <td>Qualifiers</td>
            <td>Birthdate</td>
            <td>Address</td>
            <td>Contact Number</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].first_name %></td>
                <td><%= data[i].middle_name %></td>
                <td><%= data[i].last_name %></td>
                <td><%= data[i].qualifiers %></td>
                <td><%= data[i].birthdate %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].contact_number %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div>

        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="first_name" placeholder="First Name" class="form-control" autofocus autocomplete="off">
          </div>

          <div class="form-group">
            <input type="text" name="middle_name" placeholder="Middle Name" class="form-control" autofocus autocomplete="off">
          </div>

          <div class="form-group">
            <input type="text" name="last_name" placeholder="LastName" class="form-control" autofocus autocomplete="off">
          </div>

          <div class="form-group">
            <input type="text" name="qualifiers" placeholder="Qualifiers" class="form-control" autofocus autocomplete="off">
          </div>

          <div class="form-group">
            <input type="text" name="birthdate" placeholder="Birthdate" class="form-control" autofocus>
          </div>

          <div class="form-group">
            <input type="text" name="address" placeholder="Address" class="form-control" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="text" name="contact_number" placeholder="Contact Number" class="form-control" autocomplete="off">
          </div>

          <button type="submit" class="btn btn-primary">
            save employee
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
