<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Time Attendance</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Time Attendance</a>
    </nav>

<div>
    <ul>
  <li><a href="attendance.ejs">Go to Attendance</a></li>
</ul>
</div>

      <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar">
      <a class="navbar-brand" href="/">Registration Page</a>
    </nav>

